*{
    
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    background-color: #E5E5E5;
}
.content{
    width: 554px;
    height: 694px;
    margin-top: 10vh;
    background-color: #FAFAFA;
    border-radius: 10px 10px 0px 0px;
}
.header{
    margin-top: 23px;
    text-align: center;
    border-bottom: 5px solid #41454D;
}
.header p{
    font-weight: 600;
    font-style: 21px;
    line-height: 26.67px;
    padding-bottom:28px ;
}
form {
    padding-top: 40px;
    padding-left: 40px;
}
.row{
    width: 475px;
}
.col-25 {
    float: left;
    width: 25%;
    margin-top: 15px;
}
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
    min-height: 35px;
}
label{
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
}
input[type=text]:focus-visible{
    outline: none;
}
textarea{
    border: 1px solid #D1D7E0;
    height: 148px;
}
span{
    font-style: 10px;
    color: #1F2125;
}
#email{
    border: 1px solid #D1D7E0;
    padding: 10px;
}
.submit{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
input[type=submit]{
    width: 320px;
    height: 40px;
    background-color: rgba(29, 172, 203, 0.68);
    color: white;
    font-size: 13px;
    margin-top: 20px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
input[type=file]{
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.is-invalid{
    color: red;
    border: 1px solid red !important;
}
.error {
    color: red;
}
.invalid-feedback{
    min-width: 120px;
    min-height: 30px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    left: 63%;
}
.invalid-feedback::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
